*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.gitignore.swp
build/
app/build/
app/libs/
app/*.iml
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
app/src/main/java/cl/fjnu/edu/cn/android_myTest
app/src/main/java/cl/fjnu/edu/cn/android_lab/MainActivity.java
